#cec-data {
	background-color: #eee;
	border: 1px solid #AAA;
	box-shadow: 0 0 10px #bbb inset;
}
.data-head-wrapper {
	background-color: #fff;
	padding: 10px;
	color: black;
	width: 50%;
	display: inline-block;
	box-shadow: -20px 0px 50px #eee inset;
}
#cec-data-nav-buttons {
	width: 80px;
	display: inline-block;
	float: right;
}
#cec-data-selector {
	width: 40%;
	padding: 10px;
}
#data-path,.cec-data-header-text {
	display: inline;
	color: #222;
}
#cec-data-list {
	background-color: #d4eff1;
	color: #222;
	list-style: none;
	padding: 0;
	height: 600px;
	overflow: auto;
	margin: 0;
}
#cec-data-list li {
	background-color: #d4eff1;
	padding: 10px;
}
#cec-data-list li:hover {
	background-color: #01939a !important;
	cursor: pointer;
	cursor: hand;
	color: black;
}
#cec-data-wrapper {
	width: 52%;
}
#cec-data-wrapper pre {
	height: 600px;
	overflow: auto;
	padding: 10px;
}
.cec-button {
	float: right;
	position: relative;
  	padding: 0 !important;
  	margin-left: 5px;
  	cursor: pointer;
  	overflow: visible; 
  	width:32px;
  	height: 32px;
  	display: inline-block;
}
#cec-data-selector,#cec-data-wrapper {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.cec-data-header-text {
	text-align: center;
}
.row-odd {
	background-color: #e1f6f7 !important;
}
.data-portal-overlay {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999999999999999999;
}
.overlay #cec-data-wrapper pre, .overlay #cec-data-list {
	height: 90% !important;
	position: fixed;
}
#cec-portal-full-screen {
	background-color: none !important;
	background: url('../img/full_screen.png') !important;
}
#cec-portal-small-screen {
	background-color: none !important;
	background: url('../img/exit_full.png') !important;
}
.cec-button.back {
	background-color: none !important;
	background: url('../img/go_back.png') !important;
}

.data-portal.pdf-view {
	width: 100%;
	height: 90%;
}
